# Dependencias
node_modules
.pnpm-store

# Build
dist
dist-ssr
build
*.tsbuildinfo

# Entorno (NO commitear)
.env
.env.local
.env.*.local

# Coverage / testing
coverage
.nyc_output
*.lcov

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Cache
.cache
.vite
.eslintcache